body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(224, 221, 221);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  
  height: 220vh !important;
  width: 35%;
background-color: rgb(29, 115, 202);




}
.profil>img{
  height: 200px;
  width: 200px;
  border-radius: 150%;
  display: flex;
  margin-left: 25%;
 
}
.ligne>p{
  color: white;
  font-weight: bold;
}
.icon>p{
  color: white;
  font-weight: bold;
}
.ligne>i{
 position: absolute;
 left: 6%;
 top: 53%;
 color: white;
 font-size: 150%;
}
.conp>i{
  position: absolute;
  left: 6%;
  top: 112%;
  color: white;
  font-size: 150%;
 }
 .loi>i{
  position: absolute;
  left: 6%;
  top: 170%;
  color: white;
  font-size: 150%;
 }
.icon>i{
  
  position: absolute;
 left: 6%;
 top: 93%;
 color: white;
 font-size: 150%;
}
.icon1>i{
  position: absolute;
 left: 6%;
 top: 50%;
 color: white;
 font-size: 150%;
}
.bord{
  border-radius: 85%;
  width: 10px;
  height: 10px;
  background-color: white;
  position: absolute;
  left: 20%;
  top: 130%;
  margin-left: 160px;
}
.modal{
  width: 500px;
  left: 40%;
  top: 10%;
  position: absolute;
  background-color: white;
  height: 40vh;
  box-shadow: 2px 5px 5px ;
}
 .modal1{
  width: 500px;
  left: 40%;
  top: 60%;
  position: absolute;
  background-color: white;
  height: 40vh;
  box-shadow: 2px 5px 5px 2px;
}
.modal2{
  width: 500px;
  left: 40%;
  top: 110%;
  position: absolute;
  background-color: white;
  height: 65vh;
  box-shadow: 2px 5px 5px 2px;
}
.modal>i{
  font-size: 200%;
  margin-left: 10%;
  margin-top: 5%;
}
.modal1>i{
  font-size: 200%;
  margin-left: 5%;
  margin-top: 5%;
}
.modal2>i{
  font-size: 200%;
  margin-left: 2%;
  margin-top: 4%;
}
@media screen and (max-width:768px) {
  .profil>img{
    height: 100px;
    width: 100px;
    border-radius: 150%;
  
    margin-left: 20%;
   
  }
  .loi>i{
    margin-top: -35%;
    margin-left: -4%;
  }
  .loi>h5{
    margin-top: -89%;
   
  }
  .lig>i{
    margin-top: -80% !important;
  }
  .conp>i{
    margin-left: -4%;
    margin-top: -25% !important;
  }
}
  
